<div
  class="modal modal-blur fade"
  id="modal-addAccount"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="/bank-accounts" method="post">
        <div class="modal-header">
          <h5 class="modal-title">New Bank Account</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Bank Name</label>
                <div class="input-group input-group-flat">
                  <input
                    type="text"
                    name="bankName"
                    class="form-control"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Account Number</label>
                <input type="text" name="accountNumber" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Account Type</label>
                <select class="form-select" name="accountType">
                  <option value="Current Account" selected>
                    Current Account
                  </option>
                  <option value="Fixed Deposit">Fixed Deposit</option>
                  <option value="Fusion Account">Fusion Account</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Current Balance</label>
                <input
                  type="number"
                  class="form-control"
                  name="currentBalance"
                />
              </div>
            </div>
            <div class="col-lg-12">
              <div>
                <label class="form-label">Bank Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="bankAddress"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a
            href="#"
            class="btn btn-link link-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </a>
          <button
            type="submit"
            class="btn btn-primary ms-auto"
            data-bs-dismiss="modal"
          >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-device-floppy"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
              ></path>
              <circle cx="12" cy="14" r="2"></circle>
              <polyline points="14 4 14 8 8 8 8 4"></polyline>
            </svg>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-addjournal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <!-- <form action="/bank-accounts" method="post"> -->
        <div class="modal-header">
          <h5 class="modal-title">Journal Entry Create</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Journal Number</label>
                <div class="input-group input-group-flat">
                  <input
                    type="text"
                    name="bankName"
                    class="form-control"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Date Transaction</label>
                <input
                  type="date"
                  name="bankName"
                  class="form-control"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Description</label>
                <div class="input-group input-group-flat">
                  <textarea
                    class="form-control"
                    name="example-textarea-input"
                    rows="6"
                    placeholder="Description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Reference</label>
                <input type="text" name="accountNumber" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-12">
                <div class="card">
                  <div class="col-12 col-md-auto ms-auto d-print-none">
                    <div class="btn-list2">
                      <button id="insertRow" href="#" class="btn btn-primary">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <line x1="12" y1="5" x2="12" y2="19" />
                          <line x1="5" y1="12" x2="19" y2="12" />
                        </svg>
                        Add Account
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table id="tableAdd" class="table tableAdd table-vcenter card-table">
                      <thead>
                        <tr>
                          <th>Account</th>
                          <th>Debit</th>
                          <th>Credit</th>
                          <th>Description</th>
                          <th class="text-end">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><select class="form-select" name="accountType"><option value="" selected>--</option> <option value="Current Account"> Current Account</option> <option value="Fixed Deposit"> Fixed Deposit </option><option value="Fusion Account"> Fusion Account </option></select></td>
                          <td>
                            <input type="text" name="accountNumber" class="form-control" placeholder="Debit" />
                          </td>
                          <td class="text-muted">
                            <input type="text" name="accountNumber" class="form-control" placeholder="Credit"/>
                          </td>
                          <td>
                            <input type="text" name="accountNumber" class="form-control" placeholder="Description" />
                          </td>
                          <td class="text-end">0.00</td>
                        </tr>

                        <tr>
                          <td colspan="4" class="strong text-end">
                            Total Debit (QAR)
                          </td>
                          <td class="text-end">0.00</td>
                        </tr>

                        <tr>
                          <td colspan="4" class="strong text-end">
                            Total Debit (QAR)
                          </td>
                          <td class="text-end">0.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a
            href="#"
            class="btn btn-link link-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </a>
          <button
            type="submit"
            class="btn btn-primary ms-auto"
            data-bs-dismiss="modal"
          >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-device-floppy"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
              ></path>
              <circle cx="12" cy="14" r="2"></circle>
              <polyline points="14 4 14 8 8 8 8 4"></polyline>
            </svg>
            Save
          </button>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>

